@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$fontOne: "Poppins", sans-serif;
$fontTwo: "Dancing Script", cursive;
$colorOne: #0f172a;
$colorTwo: #f1f5f9;
$colorThree: #9a3412;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontOne;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorOne;
  color: $colorTwo;

  header {
    text-align: center;

    h1 {
      font-size: 40px;
      margin-bottom: 2%;
      text-decoration: underline;
      text-decoration-thickness: 5px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 4%;
    }

    #randomBtn {
      font-size: 18px;
      background-color: $colorThree;
      border: none;
      padding: 5px 8px;
      border-radius: 5px;
      color: $colorTwo;
      transition: background-color ease-in-out 300ms;

      &:hover {
        background-color: #9a3412bd;
        transition: background-color ease-in-out 300ms;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quote {
      border-radius: 15px;
      background-color: #020617;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      width: 600px;

      img {
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
      }

      blockquote {
        font-family: $fontTwo;
        font-size: 24px;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
      }

      p {
        font-size: 16px;
        text-align: right;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
      }
    }

    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      display: none;
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}


